
.frontend-note .tape {
  background-color: #eeeeeeba;
  width: 80%;
  height: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%);
}

.frontend-note .tape:hover {
  cursor: grab;
}

.frontend-note {
  background: wheat;
  z-index: 10;
  padding: 10px;
  position: absolute;
  width: 200px;
  box-shadow: -5px 5px 20px #0001;
  rotate: 3deg;
}

.frontend-note.isDragged {
  box-shadow: -5px 5px 20px #0003;
}

.frontend-note .content {
    margin-top: 15px;
    display: grid;
    min-height: 140px;
    align-content: space-between;
}

.frontend-note-toolbox {
    position: fixed;
    top: 180px;
    right: 0;
    background: #000c;
    padding: 10px;
    z-index: 5;
    font-size: 18px;
    color: white;
    cursor:pointer;
    transition-duration: .3s;
}

.frontend-note-toolbox:hover {
  box-shadow: 0 0 20px #0005;
}

.frontend-note .title textarea {
    background-color: #0000;
    border: 0;
    font-size: 1em;
    padding: 0;
    resize: none;
    position: absolute;
    left: 10px;
    right: -10px;
    top: 35px;
    bottom: 40px;
    width: calc(100% - 20px);
}

.frontend-note .title textarea:focus-visible {
    outline: 0;
}

.hide-frontend-notes .frontend-note {
    display: none;
}

.fen-color-palette {
  width: 17px;
  height: 17px;
  border-radius: 100%;
  display: inline-block;
  border: 1px solid #000000b2;
  transform: translateY(1px);
}

[data-bgcolor="wheat"] {
    background-color:wheat;
}

[data-bgcolor="crimson"] {
    background-color:crimson;
    color:white
}

[data-bgcolor="darkcyan"] {
    background-color:darkcyan;
    color:white
}

[data-bgcolor="crimson"] textarea,
[data-bgcolor="darkcyan"] textarea{
    color:white
}

[data-bgcolor="crimson"] .settings-bar,
[data-bgcolor="darkcyan"] .settings-bar{
    border-top-color:white
}


[data-bgcolor="crimson"] .fen-icon,
[data-bgcolor="darkcyan"] .fen-icon,
.frontend-note-toolbox .fen-icon  {
  filter: invert(1);
}

.saveIcon {
    transition-duration: .3s;
}

.frontend-note.saved .saveIcon {
  opacity: .3;
  pointer-events: none;
}

@keyframes spinnAnimation {
    from { rotate: 0deg; }
    to { rotate: 360deg; }
}

.frontend-note .fen-icon.--spinner {
    animation: spinnAnimation linear 2s infinite;
}

.frontend-note .author {
  font-size: .8em;
  margin-top: 4px;
  font-style: italic;
}

.settings-bar {
  display: grid;
  grid-template-columns: 20px auto 20px;
  text-align: center;
  border-top: 1px solid #0009;
  padding-top: 5px;
  margin-top: 5px;
}

/** icons **/

.fen-icon {
  display: inline-block;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 1em;
  min-width: 1em;
}

.fen-icon.--floppy {
  background-image: url("/bundles/markefrontendnote/assets/icons/floppy-disk.svg");
}

.fen-icon.--spinner {
  background-image: url("/bundles/markefrontendnote/assets/icons/spinner.svg");
  height: 19px;
  width: 19px;
}

.fen-icon.--circle-plus {
  background-image: url("/bundles/markefrontendnote/assets/icons/circle-plus.svg");
}

.fen-icon.--xmark {
  background-image: url("/bundles/markefrontendnote/assets/icons/xmark.svg");
}

#frontend-note-new-element-icon .fen-icon {
  margin-right: 8px;
}

